<h2>LOISIRS</h2>
<div class="loisirbox">

  <div class="loisiritema">
    <div class="mask">
      <div class="caption">FootBall</div>
    </div>
  </div>

  <div class="loisiritemb">
    <div class="mask">
      <div class="caption">BasketBall</div>
    </div>
  </div>

  <div class="loisiritemc">
    <div class="mask">
      <div class="caption">Music</div>
    </div>
  </div>



  <div class="loisiritemd">
    <div class="mask">
      <div class="caption">Cinéma</div>
    </div>
  </div>
</div>

