<div class="linkinconbox">

  <div class="linkicon"><a href="https://www.linkedin.com/in/abdourahmane-samake-027a37172/"> <img
    src="../assets/icons8-linkedin-100.png" class="linkimg" alt=""></a>
  </div>
  <div class="linkicon"><a href="https://gitlab.com/abdou.samake"> <img src="../assets/icons8-gitlab-100.png"
                                                                  class="linkimg" alt=""></a>
  </div>
  <div class="linkicon"><a href="https://github.com/abdouSamak"> <img src="../assets/icon_github.png" width="100px" height="90px"
                                                                        class="linkimg" alt=""></a>
  </div>
  <div class="linkicon"><a href="https://www.facebook.com/abdourahmane.samake"> <img
    src="../assets/icons8-facebook-old-100.png" class="linkimg" alt=""></a>
  </div>
  <div class="linkicon"><a href="https://twitter.com/adreamtogalaxy"> <img src="../assets/icons8-twitter-100.png"
                                                                           class="linkimg" alt=""></a>
  </div>

</div>
<h3>Tel: 0751319312</h3>
<h3>Email: abdou.samake0908@gmail.com</h3>
