<div class="contenair-fluid sec-main">

  <section>
    <form name="checks">
      <input type="checkbox" id="openSidebarMenu">
      <input type="reset" id="closeSidebarMenu">

      <label for="openSidebarMenu" class="sidebarIconToggle">
        <span class="spinner diagonal part-1"></span>
        <span class="spinner horizontal"></span>
        <span class="spinner diagonal part-2"></span>
      </label>

      <label for="closeSidebarMenu" id="sideback"></label>
      <label for="closeSidebarMenu"></label>

      <div id="sidebarMenu">
        <ul class="sidebarMenuInner">
          <li><a *ngIf= "route === true" (click)="jumptop()" routerLink="/accueil">ACCUEIL</a></li>
          <li><a onClick="jump()" routerLink="/experience">EXPERIENCE </a></li>
          <li><a onClick="jump()" routerLink="/competences"> COMPETENCE</a></li>
          <li><a onClick="jump()" routerLink="/portfolio">PORTFOLIO</a></li>
          <li><a onClick="jump()" routerLink="/loisirs">LOISIR</a></li>
          <li><a onClick="jump()" routerLink="/contacts">CONTACT </a></li>
        </ul>

        <div class="linkinconbox">
          <div class="linkicon"><a href="https://www.linkedin.com/in/abdourahmane-samake-027a37172/"> <img
            src="../assets/icons8-linkedin-100.png" class="linkimg" alt=""></a>
          </div>
          <div class="linkicon"><a href="https://gitlab.com/abdou.samake"> <img src="../assets/icons8-gitlab-100.png"
                                                                          class="linkimg" alt=""></a>
          </div>
          <div class="linkicon"><a href="https://github.com/abdouSamak"> <img src="../assets/icon_github.png" width="80px" height="40px"
                                                                              class="linkimg" alt=""></a>
          </div>
          <div class="linkicon"><a href="https://www.facebook.com/abdourahmane.samake"> <img
            src="../assets/icons8-facebook-old-100.png" class="linkimg" alt=""></a>
          </div>
          <div class="linkicon"><a href="https://twitter.com/adreamtogalaxy"> <img
            src="../assets/icons8-twitter-100.png"
            class="linkimg" alt=""></a>
          </div>
        </div>

      </div>
    </form>
  </section>

  <section>
    <div class="sec-top">
      <div class="nameempty1"></div>
      <div class="name12">
        <h1 class="name1">Abdourahmane Samake</h1>
        <p class="name2">Développeur web Front-end Junior</p>
      </div>
      <div class="nameempty2"></div>
      <div class="dlcv"><a href="../assets/CV.pdf" target="_blank">
        <img src="../assets/icons8-download-50.png" alt="download">Téléchargez Mon CV</a></div>
      <div class="nameempty3"></div>
      <p class="name3">&#9660; Scroll &#9660;</p>
    </div>
  </section>

  <!--<section>
    <div class="sec-main">

    </div>
  </section>-->
  <router-outlet></router-outlet>
  <section>
    <div class="footer">
      <ul>
        <li>
          <a onClick="jumptop()" routerLink="/accueil">ACCUEIL</a>
        </li>
        <li>
          <a onClick="jump()" routerLink="/experience">EXPERIENCE</a>
        </li>
        <li>
          <a onClick="jump()" routerLink="/competences">COMPETENCE</a>
        </li>
        <li>
          <a onClick="jump()" routerLink="/portfolio">PORTFOLIO</a>
        </li>
        <li>
          <a onClick="jump()" routerLink="/loisirs">LOISIR</a>
        </li>
        <li>
          <a onClick="jump()" routerLink="/contacts">CONTACT</a>
        </li>
      </ul>
      <address>{{mail2}}</address>
      <p>© 2020 · ABDOURAMANE SAMAKE · ALL RIGHTS RESERVED</p>
      <p>Tel: 0751319312</p>
    </div>

  </section>
</div>
