<div class="home-box">

  <div class="portrait"></div>
  <h3>Bonjour !</h3>
  <p class="texto">Je m'appelle Abdourahmane Samake originaire du sénégal, j'ai 29 ans.</p>
  <p class="texto">Je suis en formation de développeur web en JavaScript pour réaliser mon rêve : devenir développeur web <br>
  Le but de se blog est de vous présenter mon parcour universitaire, mes expériences, mes compétences et mes projets professionnelles</p>

  <h4>Mon cursus, étape 1</h4>
  <p>J'ai débuté mon cursus universitaire dans ma ville natale Dakar au Sénégal à l'université Cheikh Anta Diop de Dakar où j'ai suivi une formation
    en science physique jusqu'à l'obtention de ma licence en phyisque appliquée.</p>
  <p>Par la suite j'ai obtenu une accéptation d'intégration d'une université française, l'université de Tours, Centre
    où je suivais une formation en physique imagerie médical en master1. J'ai terminé la formation en master2 à l'université de Paris Est Crétei (UPEC)
    dans la spécialité du traitement d'image, traitement du signal et analyse des données appliqués à la médecine où j'ai eu mon dipôme français en science pour ingénieur
    spécialité traitement d'image, traitement du signal appliqué à la médecine.
  </p>

  <h4>Mon cursus ? étape 2</h4>
  <p>Etant toujours passionné par l'internet et l'informatique, la cruosité de savoir comment
    concevoir un site web et des applications mobiles, ça m'a poussé à m'inscrire dans une école de formation en développement web,
    c'est la raison pour laquelle j'ai intégré <span>White Rabbit, une école labellisée Grande Ecole du Numérique</span>, une pédagogie basée
    sur les neurosciences et la méthode Montessori, pour acquérir les bases nécessaires pour l’apprentissage du code
    et la réalisation d’un site web.</p>
  <p>Et là, je suis au bout de la formation théorique, et je voudrais me lancer dans la formation pratique grâce à un éventuel stage de fin d'année dés que possible
    pour une de 6 mois maximum afin d'exprimer tous mes connaissances acquises et
    de décrocher par la suite un travail en CDI ou CDD tant que développeur web front end dans une entreprise oubien un start up.<br>
    <br>
    J’espère bien que ce site appuiera ma volonté de concrétiser mon rêve avec de futurs collaborateurs.</p>

</div>

