<div class="exp-container">
  <h2>EXPERIENCES</h2>

  <section>
    <h3> DIPLOMES et FORMATION</h3>
    <div class="exp-box">
      <div class="leftline"></div>
      <div class="exp-content">
        <br><p class="textn"><i>En France</i></p>
        <p class="textb">White Rabbit à Clichy</p>
        <p class="textb">Formation professionnelle en codage informatique spécialisé en javascript</p>
        <p class="textn">Développeur web Full Stack en JavaScript: frontend (Bootstrap, Angular, ReactJs), Backend(NodeJs), Gestion de base de base de données
          et hébegement de site web avec Firebase</p>
        <p class="textn">2020 - <span class="textc">Aujourd'hui</span></p><br>
        <p class="textb">Université Paris Est Créteil</p>
        <p class="textb">Master2 Traitement d'image, traitement du signal appliqué à la médecine</p>
        <p class="textn">Science pour ingénieur parcours  Traitement d'image, traitement du signal, analyse des données appliqués à la médecine</p>
        <p class="textn">2018 - 2019</p><br>
        <p class="textb">Université de Tours</p>
        <p class="textb">Master1 physique fondammentale et imagerie médicale</p>
        <p class="textn">physique fondammentale, traitement d'image et traitement du signal </p>
        <p class="textn">2017 - 2018</p><br>
      </div>
    </div>
  </section>

  <section>
    <h3>EXPERIENCES PROFESSIONNELLES Et Projets</h3>

    <div class="exp-box">
      <span class="leftline"></span>
      <div class="exp-content">
        <br><p class="textb">Stage ESMR SUDRIA RESEARCH LAB</p>
        <p class="textn">Classification d'image OCTA en ophtalmologie par les techniques de l'intelligence Artificielle
          Machine Learning en particulier, pour apporter de l'aide au diagnostic de la maladie de la dégénérescence maculaire liée à l'age (DMLA).
          Langage informatique utilisé: python, Méthodes testé: RandomForest 78% de réussite, SVM: 75% et KNN: 74%.</p>
        <p class="textn">Avril 2019 – Septembre 2019 </p><br>
        <p class="textb">Réalisation Site de Jeux Vidéo</p>
        <p class="textn">Gestion de maquette du projet sur Trello <br>
          Gestion du projet sur Github <br>
          Création des pages via Angular <br>
          Gestion de base de données avec Firebase <br>
        </p>

        <p class="textn">Juin 2020 - Juillet 2020</p><br>
        <p class="textb">Commis de cuisine et Serveur au Bon Marché Paris 7éme café Sunlee Haward</p>
        <p class="textn">Mars 2019 - Avril 2020</p><br>
      </div>
    </div>

  </section>

</div>

